APP_ENV=development
DEBUG=true
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST:5432/DBNAME

ZERODHA_API_KEY=
ZERODHA_API_SECRET=
ZERODHA_REDIRECT_URL=http://127.0.0.1:8000/integrations/zerodha/callback
TOKEN_ENCRYPTION_KEY=
